
h1{
  color: #333333;
}


.btn{
  display: inline-block;
  background: purple;
  color: #fff;
  border: none;
  padding: 10px;
  margin: 5px;
  border-radius: 10px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}
.btn-primary {
  background-color: rgb(58, 128, 233);
  color: white;
  border-color: rgb(58, 128, 233);
}
.btn:hover{
  background-color: rgb(34, 1, 34);
}
.btn:focus{
   outline: none;
}
.btn:active{
  transform: scale(0.98);
}
.btn-block{
  display: block;
  width: 100%;
}
.btn--alt{
  background-color: transparent;
  color: #800040;
}
.btn--alt:hover{
  background-color: #f8dae9;

}

.actions{
  text-align: right;
}
.modal{
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  background-color: white;
  padding: 1rem;
  text-align: center;
  width: 30rem;
  z-index: 10;
  position: fixed;
  top: 20vh;
  left: calc(50% -5rem);
}
.backdrop {
  position: fixed;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.75);
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}